#about-info {
    background-color: #435f77;
}
#about {
    height: 37em;
}
.card {
    margin: 1.5em 1em;
}
#profile {
    height: 100%;
    width: 20em;
}
.list-group {
    position: relative;
    top: 0.6em;
}
.list-group-item {
    background-color: transparent;
}
.list-group-item {
    width: 50%;
}
.list-group-item img {
    width: 3em;
}
.list-group-item .img-fluid {
    height: 100%;
    min-width: 4rem;
}