main {
    height: 80%;
}
main .card {
    width: 90%;
    height: 50%;
}
.list-group-item {
    background-color: transparent;
}
.list-group-item {
    width: 50%;
}
.list-group-item img {
    width: 3em;
}
.list-group-item .img-fluid {
    height: 100%;
    min-width: 4rem;
}